<a href="https://colab.research.google.com/github/2303a51546/_10_python-for-data-science/blob/main/LAB_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Merge Product and Sales Datasets and Compute Aggregate Statistics using pandas

In [8]:
import pandas as pd

In [9]:
# Products Dataset
products = pd.DataFrame({
'product_id': [101, 102, 103, 104, 105],
'product_name': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Headphones'],
'category': ['Electronics', 'Accessories', 'Accessories', 'Electronics', 'Accessories'],
'price': [80000, 1200, 2500, 15000, 3500]
 })
products.to_csv("products.csv", index=False)

In [10]:
sales = pd.DataFrame({
'sale_id': [1, 2, 3, 4, 5, 6, 7],
'product_id': [101, 102, 103, 101, 105, 105, 104],
'quantity': [2, 10, 5, 1, 3, 1, 2]
})
sales.to_csv("sales.csv", index=False)

In [11]:
print(" Datasets Created & Saved: products.csv, sales.csv\n")

 Datasets Created & Saved: products.csv, sales.csv

In [12]:
products = pd.read_csv("products.csv")
sales = pd.read_csv("sales.csv")

print("PRODUCTS DATASET ")
print(products, "\n")

print("SALES DATASET")
print(sales, "\n")

PRODUCTS DATASET
   product_id product_name     category  price
0         101       Laptop  Electronics  80000
1         102        Mouse  Accessories   1200
2         103     Keyboard  Accessories   2500
3         104      Monitor  Electronics  15000
4         105   Headphones  Accessories   3500

SALES DATASET
   sale_id  product_id  quantity
0        1         101         2
1        2         102        10
2        3         103         5
3        4         101         1
4        5         105         3
5        6         105         1
6        7         104         2

In [13]:
# Inner Join
merged_inner = pd.merge(sales, products, on='product_id', how='inner')
print("INNER JOIN RESULT")
print(merged_inner, "\n")

INNER JOIN RESULT
   sale_id  product_id  quantity product_name     category  price
0        1         101         2       Laptop  Electronics  80000
1        2         102        10        Mouse  Accessories   1200
2        3         103         5     Keyboard  Accessories   2500
3        4         101         1       Laptop  Electronics  80000
4        5         105         3   Headphones  Accessories   3500
5        6         105         1   Headphones  Accessories   3500
6        7         104         2      Monitor  Electronics  15000

In [14]:
# Outer Join
merged_outer = pd.merge(sales, products, on='product_id', how='outer')
print("OUTER JOIN RESULT")
print(merged_outer, "\n")

OUTER JOIN RESULT
   sale_id  product_id  quantity product_name     category  price
0        1         101         2       Laptop  Electronics  80000
1        4         101         1       Laptop  Electronics  80000
2        2         102        10        Mouse  Accessories   1200
3        3         103         5     Keyboard  Accessories   2500
4        7         104         2      Monitor  Electronics  15000
5        5         105         3   Headphones  Accessories   3500
6        6         105         1   Headphones  Accessories   3500

In [15]:
merged_inner['revenue'] = merged_inner['price'] * merged_inner['quantity']

# Total Revenue
total_revenue = merged_inner['revenue'].sum()
print(f"TOTAL REVENUE: {total_revenue}")

TOTAL REVENUE: 308500

In [16]:
# Average Price
average_price = merged_inner['price'].mean()
print(f"AVERAGE PRODUCT PRICE: {average_price}\n")

AVERAGE PRODUCT PRICE: 26528.571428571428

In [17]:
# Product-wise Sales
product_sales = merged_inner.groupby('product_name')['revenue'].sum().reset_index()
print("PRODUCT-WISE SALES")
print(product_sales, "\n")

PRODUCT-WISE SALES
  product_name  revenue
0   Headphones    14000
1     Keyboard    12500
2       Laptop   240000
3      Monitor    30000
4        Mouse    12000

In [18]:
# Category-wise Sales
category_sales = merged_inner.groupby('category')['revenue'].sum().reset_index()
print(" CATEGORY-WISE SALES ")
print(category_sales, "\n")

 CATEGORY-WISE SALES
      category  revenue
0  Accessories    38500
1  Electronics   270000

In [19]:
# Best-Selling Category
best_category = category_sales.loc[category_sales['revenue'].idxmax()]
print(f"BEST SELLING CATEGORY: {best_category['category']} (Revenue: {best_category['revenue']})")

BEST SELLING CATEGORY: Electronics (Revenue: 270000)

Merge Teachers and Courses Datasets and Compute Aggregate Statistics

In [20]:
import pandas as pd

In [21]:
teachers = pd.DataFrame({
'teacher_id': [1, 2, 3, 4, 5],
'teacher_name': ['madhuri', 'varsha', 'nithya', 'karuna', 'sai'],
'department': ['Computer Science', 'Mathematics', 'Computer Science', 'Physics', 'Mathematics']
})
teachers.to_csv("teachers.csv", index=False)

In [22]:
courses = pd.DataFrame({
'course_id': [101, 102, 103, 104, 105, 106, 107],
'course_name': ['Data Structures', 'Algorithms', 'Calculus', 'Physics 1', 'AI', 'OS', 'Chemistry'],
'teacher_id': [1, 1, 2, 4, 3, 1, 999],
'hours_per_week': [4, 3, 5, 3, 4, 2, 3]
})
courses.to_csv("courses.csv", index=False)

In [23]:
courses.to_csv("courses.csv", index=False)

print("Datasets created and saved: teachers.csv, courses.csv\n")

Datasets created and saved: teachers.csv, courses.csv

In [24]:
teachers = pd.read_csv("teachers.csv")
courses = pd.read_csv("courses.csv")

print("TEACHERS DATASET ")
print(teachers, "\n")

print(" COURSES DATASET")
print(courses, "\n")

TEACHERS DATASET
   teacher_id teacher_name        department
0           1      madhuri  Computer Science
1           2       varsha       Mathematics
2           3       nithya  Computer Science
3           4       karuna           Physics
4           5          sai       Mathematics

 COURSES DATASET
   course_id      course_name  teacher_id  hours_per_week
0        101  Data Structures           1               4
1        102       Algorithms           1               3
2        103         Calculus           2               5
3        104        Physics 1           4               3
4        105               AI           3               4
5        106               OS           1               2
6        107        Chemistry         999               3

In [25]:
# Inner Join:
merged_inner = pd.merge(courses, teachers, on="teacher_id", how="inner")
print(" INNER JOIN RESULT")
print(merged_inner, "\n")

 INNER JOIN RESULT
   course_id      course_name  teacher_id  hours_per_week teacher_name  \
0        101  Data Structures           1               4      madhuri
1        102       Algorithms           1               3      madhuri
2        103         Calculus           2               5       varsha
3        104        Physics 1           4               3       karuna
4        105               AI           3               4       nithya
5        106               OS           1               2      madhuri

         department
0  Computer Science
1  Computer Science
2       Mathematics
3           Physics
4  Computer Science
5  Computer Science

In [26]:
# Left Join:
merged_left = pd.merge(courses, teachers, on="teacher_id", how="left")
print(" LEFT JOIN RESULT ")
print(merged_left, "\n")

 LEFT JOIN RESULT
   course_id      course_name  teacher_id  hours_per_week teacher_name  \
0        101  Data Structures           1               4      madhuri
1        102       Algorithms           1               3      madhuri
2        103         Calculus           2               5       varsha
3        104        Physics 1           4               3       karuna
4        105               AI           3               4       nithya
5        106               OS           1               2      madhuri
6        107        Chemistry         999               3          NaN

         department
0  Computer Science
1  Computer Science
2       Mathematics
3           Physics
4  Computer Science
5  Computer Science
6               NaN

In [27]:
#Average number of courses per teacher
courses_per_teacher = merged_inner.groupby("teacher_name")["course_id"].count()
average_courses = courses_per_teacher.mean()
print(f"AVERAGE COURSES PER TEACHER: {average_courses}\n")

AVERAGE COURSES PER TEACHER: 1.5

In [28]:
# Department-wise total workload
dept_workload = merged_inner.groupby("department")["hours_per_week"].sum().reset_index()
print(" DEPARTMENT-WISE TOTAL WORKLOAD ")
print(dept_workload, "\n")

 DEPARTMENT-WISE TOTAL WORKLOAD
         department  hours_per_week
0  Computer Science              13
1       Mathematics               5
2           Physics               3

In [29]:
# Teacher-wise workload
teacher_workload = merged_inner.groupby("teacher_name")["hours_per_week"].sum().reset_index()
print("TEACHER-WISE WORKLOAD ")
print(teacher_workload, "\n")

TEACHER-WISE WORKLOAD
  teacher_name  hours_per_week
0       karuna               3
1      madhuri               9
2       nithya               4
3       varsha               5

In [30]:
# Department with highest workload
top_dept = dept_workload.loc[dept_workload["hours_per_week"].idxmax()]
print(f"DEPARTMENT WITH HIGHEST WORKLOAD: {top_dept['department']} ({top_dept['hours_per_week']} hours/week)")

DEPARTMENT WITH HIGHEST WORKLOAD: Computer Science (13 hours/week)